.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
sandbox/build.gradle
sandbox/build/classes/java/main/ru.srqa.pft.sandbox.MyFirstProgram.class
sandbox/build/libs/sandbox.jar
sandbox/build/tmp/compileJava/previous-compilation-data.bin
sandbox/build/tmp/jar/MANIFEST.MF
java_pft_repeat.iml
.idea/vcs.xml
.idea/misc.xml
.idea/gradle.xml
.idea/compiler.xml
sandbox/build/classes/java/main/ru/srqa/pft/sandbox/MyFirstProgram1.class
